*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


body{
    text-align: justify;
    background-color: #dddddd;
}
main#interface{
    width: 1000px;
    margin: auto;
}
header#cabecalho {
    background-color: #5f5a5e;
    color: white;
    text-align: center;
    padding: 12px;
}
footer{
    background-color: #3f3d3f;
    text-align: center;
    padding: 5px;
}
a{
    color: black;
    text-decoration: none;
}
main#interface #destaque{
    background-color: #888888;
    background-image: linear-gradient(to right,(#888888 ) ,transparent);
}

